/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;   
}

.doubleflex {
    display: flex;
}

.container {
    padding: 4% 0;
}

.column-size {
    width: 80%;
    margin: auto;
}

section {
    /* debug */
    border: 1px solid black;
    padding: 10px 0;
}

.window {
    /* debug */
    background-color: gray;
    width: 50%;
    height: 100px;
    border: 1px dotted black;
}

/* HEADER STYLE */

header {
    width: 100%;
    padding: 1% 0;
    position: fixed;
    z-index: 999;
    /* debug */
    background-color: gray;
}

nav {
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.navigator {
    width: 30%;
    /* debug */
    background-color: yellow;
}

.navigator ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* list-style-type: none; */
}

ul li {
    /* debug */
    background-color: gray;
}

/* MAIN-JUMBO STYLE */
#jumbo-container {
    width: 100%;
    padding-top: 5%;
    /* debug */
    background-color: rgb(185, 207, 229);
}

#jumbo-content {
    width: 90%;
    margin: auto;
    /* debug */
    border: 2px solid black;
}

/* MAIN STYLE */

#main-container {
    /* debug */
    border: 2px solid black;
}

/* subscription container*/
#sub-plan {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    /* debug */
    border: 1px dotted black;
}

.subscription {
    width: calc(100% / 3 - 2%);
    margin: 1% 0;
    /* debug */
    background-color: gray;
    border: 1px dotted black;
    height: 100px;
}

/* team container */

/* partner container */

/* business container */
#businessflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 3);
    /* debug */
    height: 100px;
    background-color: gray;
    border: 1px dotted black;
}

/* usersinfo container */

/* closer-container */
#closer-container {
    width: 100%;
    background-color: rgb(185, 207, 229);
}

#clients-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: calc(100% / 3);
    /* debug */
    height: 100px;
    border: 1px solid black;
}


.trial {
    width: 50%;
    /* debug */
    height: 100px;
    border: 1px solid black;
}

/* question-container */
.question {
    /* debug */
    height: 100px;
    border: 1px solid black;
}

/* FOOTER STYLE */
footer {
    background-color: rgb(36, 39, 42);
    padding: 3% 0;
}

#resource-column {
    display: flex;
    justify-content: space-around;
}

