/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;   
}

/* GENERAL ELEMENTS STYLE */
.doubleflex {
    display: flex;
}

.container {
    padding: 4% 0;
}

.column-size {
    width: 65%;
    margin: auto;
}

.blue-button {
    background-color: rgb(40, 95, 246);
    padding: 1% 4%;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 40px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

i {
    color: black;
}

.window {
    /* debug */
    background-color: gray;
    width: 50%;
    height: 100px;
    border: 1px dotted black;
}

/* HEADER STYLE */
header {
    width: 100%;
    padding: 1% 0;
    position: fixed;
    z-index: 999;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigator {
    width: 30%;
}

.navigator ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigator a {
    font-size: 12px;
    color: gray;
    font-weight: 500;
}

#start {
    color: white;
    padding: 5px 10px;
}

/* MAIN-JUMBO STYLE */
#jumbo-container {
    width: 100%;
    padding-top: 5.5%;
    background-color: rgb(185, 207, 229);
}

#jumbo-content {
    width: 75%;
    margin: 0 auto;
}

.jumbo-left {
    width: 40%;
    padding-top: 2%;
}

.jumbo-left div {
    padding: 5% 2% 1% 0;
}

#anchor {
    font-size: 70px;
}

.jumbo-right {
    width: 60%;
    position: relative;
}

#jumbo-img {
    position: absolute;
    top: 12%;
}

.jumbo-right img {
    width: 105%;
}

/* MAIN STYLE */
#main-container {
    margin-top: 4%;
}

/* subscription container STYLE */
#sub-columns {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    /* debug */
    border: 1px dotted black;
}

.subscription {
    width: calc(100% / 3 - 2%);
    margin: 1% 0;
    /* debug */
    border: 1px solid gray;
    height: 100px;
}

#mensile-annuale {
    padding: 3% 0;
    display: flex;
    align-items: center;
}

#mensile-annuale span {
    font-size: 12px;
    padding: 0 50px 0 5px;
}

.sub-title {
    padding: 5px 0;
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 12px;
}

.sub-column-container {
    width: 90%;
    margin: auto;
    padding-top: 5%;
}

/* team container STYLE */

/* partner container STYLE */

/* business container STYLE */
#businessflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 3);
    /* debug */
    height: 100px;
    background-color: gray;
    border: 1px dotted black;
}

/* usersinfo container STYLE */

/* closer-container STYLE */
#closer-container {
    width: 100%;
    background-color: rgb(185, 207, 229);
}

#clients-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: calc(100% / 3);
    /* debug */
    height: 100px;
    border: 1px solid black;
}


.trial {
    width: 50%;
    /* debug */
    height: 100px;
    border: 1px solid black;
}

/* question-container STYLE */
.question {
    /* debug */
    height: 100px;
    border: 1px solid black;
}

/* FOOTER STYLE */
footer {
    background-color: rgb(36, 39, 42);
    padding: 3% 0;
}

#resource-column {
    display: flex;
    justify-content: space-around;
}

