/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;   
}

/* HEADER STYLE */

header {
    width: 100%;
    padding: 1% 0;
    position: fixed;
    z-index: 999;
    /* debug */
    background-color: gray;
}

nav {
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.navigator {
    width: 30%;
    /* debug */
    background-color: yellow;
}

.navigator ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* list-style-type: none; */
}

ul li {
    /* debug */
    background-color: gray;
}

/* MAIN-JUMBO STYLE */

#jumbo-container {
    width: 100%;
    padding-top: 5%;
    /* debug */
    height: 600px;
    background-color: rgb(185, 207, 229);
}

#jumbo-content {
    width: 90%;
    margin: auto;
    /* debug */
    border: 2px solid black;
    height: 500px;
}

/* MAIN STYLE */

#main-container {
    width: 85%;
    margin: 2% auto;
    /* debug */
    border: 2px solid black;
}

#sub-plan {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.subscription {
    width: calc(100% / 3 - 2%);
    margin: 1% 0;
    /* debug */
    background-color: gray;
    border: 1px dotted black;
    height: 100px;
}